.sidebar{
    background-image: linear-gradient(40deg, #2c3c94,#0f55ec);
    position: absolute;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}

