#topBanner {
    background-image: url(../../../Images/HeaderBG.jpg);
    background-repeat: no-repeat;
    background-position:absolute;
    
    background-size: cover;
    height: 400px;
    
    background-position: center;
    /* background-origin: center; */
}