#topBanner {
    background: url(../../../Images/HeaderBG.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    
    background-position: center;
    /* background-origin: center; */
}